
.icon-flight:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-right-open-1:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-flight-1:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-minus-1:before { content: '\e807'; } /* '' */
.icon-minus-2:before { content: '\e808'; } /* '' */
.icon-right-small:before { content: '\e809'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */